html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%
}

body {
	background: radial-gradient(ellipse at center, rgba(252,236,252,1) 0%, rgba(255,124,216,1) 100%);
}

#task {
	width: 50%;
	background: #D8BFD8;
	border: 3px solid #2F4F4F;
	border-radius: 5px;
	margin: 20px auto;
}


#activ, #enter, #reset  {
    margin-top: 7px;
    margin-left: 15%;
    padding-top: 3px;
    width: 70%;
    text-align: center;
    font-size: 20px;
    background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); 
    cursor: pointer;
}

#enter:hover, #activ:hover, #reset:hover{
	background: radial-gradient(ellipse at center, rgba(252,236,252,1) 0%, rgba(253,137,215,1) 67%, rgba(255,124,216,1) 100%);
}

input {
	outline: none;
    margin: 7px auto;
    margin-left: 2.5%;
    border: 2px solid #2F4F4F;
    border-radius: 2px;
    width: 90%;
    padding: 5px 10px;
    font-size: 15px;
	background: radial-gradient(ellipse at center, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 22%, rgba(254,254,254,1) 100%);
    cursor: pointer;
}

#description{
	height: 50px;
}

#list {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
    list-style-type: square;
    list-style-position: inside;
	text-decoration: none;
	visibility: visible;
    margin-bottom: 9px;
    border-bottom: 3px solid #2F4F4F;
    padding: 0 17px 10px;
    min-height: 60px;
    font-weight: bold;
	font-size: 20px;
}

p {
	font-weight: normal;
	font-size: 16px;
	font-style: italic;
}

button {
    background: linear-gradient(135deg, rgb(242,246,248) 0%, rgb(216,225,231) 50%, rgb(181,198,208) 51%, rgb(224,239,249) 100%);
    margin: 0;
    padding: 0;
    float: right;
    height: 50px;
    width: 100px;
    border: 6px inset lavenderblush;
    border-radius: 64px;
    margin-left: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    outline: none;
}

button:hover{
	background :radial-gradient(ellipse at center, rgba(228,180,196,1) 0%, rgba(133,0,46,1) 100%);
}

